<!-- footer
   ================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns">

            <ul class="footer-nav">
                <li><a href="#">Home.</a></li>
                <li><a href="#">Users.</a></li>
                <li><a href="#">Institutes.</a></li>
                <li><a href="#">Questions.</a></li>
                <li><a href="#">Contests.</a></li>
                <li><a href="#">Solve Questions.</a></li>
                <li><a href="#">About.</a></li>
                <li><a href="#">Contact.</a></li>
            </ul>

            <ul class="footer-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>

            <ul class="copyright">
                <li>Copyright &copy; 2018 NSIT</li>
            </ul>

        </div>

        <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

    </div>

</footer> <!-- Footer End-->