<!-- Header
   ================================================== -->
<header>

    <div class="row">

        <div class="twelve columns">

            <div class="logo">
                <a href="index"><img alt="" src="images/logo.png"></a>
            </div>

            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

                <ul id="nav" class="nav">
                    <li class="current"><a href="index">Home</a></li>
                    <li><span><a href="users">Users</a></span>
                        <ul>
                            <li><a href="users">All Users</a></li>
                            <li><a href="newuser">Add User</a></li>
                        </ul>
                    </li>
                    <li><span><a href="institutes">Institutes</a></span>
                        <ul>
                            <li><a href="institutes">All Institute</a></li>
                            <li><a href="newinstitute">Add Institute</a></li>
                        </ul>
                    </li>
                    <li><span><a href="questions">Questions</a></span>
                        <ul>
                            <li><a href="questions">All Questions</a></li>
                            <li><a href="newquestion">Add Question</a></li>
                        </ul>
                    </li>
                    <li><span><a href="contests">Contest</a></span>
                        <ul>
                            <li><a href="contests">All Contests</a></li>
                            <li><a href="newcontest">Add Contest</a></li>
                        </ul>
                    </li>
                    <li><span><a href="progress">Solve Questions</a></span>
                        <ul>
                            <li><a href="progress">View Progress</a></li>
                            <li><a href="solvequestion">Solve Questions</a></li>
                        </ul>
                    </li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>

                </ul> <!-- end #nav -->

            </nav> <!-- end #nav-wrap -->

        </div>

    </div>

</header> <!-- Header End -->